[submodule "LearningHubBackend"]
	path = LearningHubBackend
	url = git@github.com:hoang1805/LearningHubBackend.git
[submodule "LearningHubFE"]
	path = LearningHubFE
	url = git@github.com:hoang1805/LearningHubFrontend.git
